.main {
  padding: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

  padding-top: 25px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cardContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cardContainer {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.title {
  font-size: 60px;
  margin-bottom: 0px;
}

.subtitle {
  margin-top: 50px;
  margin-bottom: 0px;
}